@model IEnumerable<WebAffinitiesMVC.Models.ArquivoDetalheLayout>
@{
    ViewBag.Title = "";
}
<div class="container">
    <div class="page-header">
        <h2 id="tables">@String.Concat("Arquivos Tipo ", "")</h2>
    </div>
</div>
<table class="table">
    <tr>
        <th></th>
    </tr>
    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }*@
</table>
