@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1>Web Formatter</h1>
                    <p>Aplicação formatação e validações de arquivos texto (Affinities, Comissões, Nêutron e etc...).</p>
                    <p><a class="btn btn-primary btn-lg">Saiba mais</a></p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Affinities...</h3>
                    </div>
                    <div class="panel-body">
                        Você pode criar um produto e associá-lo a um layout e submeter arquivos para um pré-validação antes de submetê-lo a rotina de emissão.
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comissões...</h3>
                    </div>
                    <div class="panel-body">
                        Você pode cadastrar layouts para os arquivos de comissão e validá-los.
                    </div>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nêutron...</h3>
                    </div>
                    <div class="panel-body">
                        Você pode cadastrar layouts para os arquivos do Nêutron e validá-los.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-0">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Listas de valores</h4>
                        <p class="list-group-item-text">Você pode criar listas de valores para validar os campos enviados no arquivo do estipulante (sexo, atividades, UF e etc...).</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Validações</h4>
                        <p class="list-group-item-text">Você pode indicar a validação de campos enviados no arquivo do estipulante (CPF, CNPJ, Data, Valores (R$) e etc...).</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>